<section class="container" id="about">
  <div class="about-container">
    <div class="about-img-content">
      <img
        class="about-img-desktop"
        src="./img/about-desktop-1x.png"
        srcset="./img/about-desktop-1x.png 1x, ./img/about-desktop-2x.png 2x"
        alt="puzzle game"
        width="552"
        loading="lazy"
        decoding="async"
      />

      <div class="about-content">
        <h2 class="about-title">About the Game</h2>
        <h3 class="about-puzzle-text">
          It's basically a puzzle game<span class="desktop-break"><br /></span>
          where you sort stuff -<span class="desktop-break"><br /></span>
          <span class="about-span">pretty addictive</span> once you get into it
        </h3>
        <img
          class="about-img"
          src="./img/about.png"
          alt="puzzle game"
          width="331"
          height="208"
          loading="lazy"
          decoding="async"
        />
        <div class="about-div-text">
          <p class="about-text">
            We basically took organizing stuff - which is usually boring as hell
            - and somehow made it actually fun - you're hunting for matching
            items in these cluttered delivery areas, and the puzzles get pretty
            creative as you go. It's all about focus and spotting patterns
            quickly, plus it looks really good.
          </p>
          <p class="about-text">
            Anyone can jump in and play for a few minutes on their phone.
          </p>
          <p class="about-text">
            When you finish a level, there's this nice sense of everything being
            in its place. Everything should look polished and colorful, with
            that modern mobile game feel.
          </p>
        </div>
      </div>
    </div>
    <ul class="about-features">
      <li class="about-feature">
        <div class="about-feature-icon">
          <svg
            class="about-feature-svg"
            width="64"
            height="64"
            aria-hidden="true"
          >
            <use href="./img/sprite.svg#icon-smart-puzzles"></use>
          </svg>
        </div>
        <div>
          <h3 class="about-feature-title">Smart Puzzles</h3>
          <p class="about-feature-text">
            Complete creative levels filled with unique object layouts.
          </p>
        </div>
      </li>

      <li class="about-feature">
        <div class="about-feature-icon">
          <svg
            class="about-feature-svg"
            width="64"
            height="64"
            aria-hidden="true"
          >
            <use href="./img/sprite.svg#icon-target"></use>
          </svg>
        </div>
        <div>
          <h3 class="about-feature-title">Easy To Learn</h3>
          <p class="about-feature-text">
            Simple controls that are enjoyable for both new and experienced
            players.
          </p>
        </div>
      </li>

      <li class="about-feature">
        <div class="about-feature-icon">
          <svg
            class="about-feature-svg"
            width="64"
            height="64"
            aria-hidden="true"
          >
            <use href="./img/sprite.svg#icon-lightning"></use>
          </svg>
        </div>
        <div>
          <h3 class="about-feature-title">Helpful Boosters</h3>
          <p class="about-feature-text">
            Use special tools and hints whenever a puzzle becomes tricky.
          </p>
        </div>
      </li>

      <li class="about-feature">
        <div class="about-feature-icon">
          <svg
            class="about-feature-svg"
            width="64"
            height="64"
            aria-hidden="true"
          >
            <use href="./img/sprite.svg#icon-delivery"></use>
          </svg>
        </div>
        <div>
          <h3 class="about-feature-title">Delivery Challenges</h3>
          <p class="about-feature-text">
            Sort packages, products, and deliver items across hundreds of
            stages.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
