<div class="container end-container">
  <img
    class="end-basket"
    src="./img/basket-2.png"
    alt="basket"
    width="172"
    height="168"
    loading="lazy"
    decoding="async"
  />
  <div class="end-ready">
    <div class="end-div-text">
      <p class="end-ready-text">Ready To Clear</p>
      <p class="end-ready-text">The Next Delivery Challenge?</p>
    </div>
    <img
      class="end-logo-img"
      src="./img/logo-png.png"
      alt="logo"
      width="72"
      height="70"
      loading="lazy"
      decoding="async"
    />
  </div>
  <div class="end-btn-adress">
    <button
      type="button"
      class="end-btn"
      href="https://play.google.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="end-svg" width="22" height="24">
        <use href="./img/sprite.svg#icon-google-play"></use>
      </svg>
      <span class="end-link-text">Play on Google Play</span>
    </button>

    <address class="end-address">
      <svg class="end-address-svg" width="24" height="24">
        <use href="./img/sprite.svg#icon-email"></use>
      </svg>
      <a class="end-link-email" href="mailto:info@bluevia.it.com"
        >Email: info@bluevia.it.com</a
      >
    </address>
  </div>
  <img
    class="end-logo-desktop"
    src="./img/logo-png.png"
    alt="logo"
    width="172"
    height="168"
    loading="lazy"
    decoding="async"
  />
</div>
