<footer class="footer">
  <section class="container" id="footer">
    <div class="footer-container">
      <a class="footer-logo" href="./index.html">
        <img
          class="footer-logo-img"
          src="./img/logo-png.png"
          alt="logo"
          width="60"
          height="58"
          loading="lazy"
          decoding="async"
        />
        <div class="footer-logo-div">
          <p class="footer-logo-text">Match</p>
          <p class="footer-logo-text">Delivery</p>
          <p class="footer-logo-3d">Triple Match 3D</p>
        </div>
      </a>
      <div class="footer-policy-service">
        <a class="footer-link-policy" href="./privacy-policy.html"
          >Privacy Policy</a
        >
        <div class="footer-line"></div>
        <a class="footer-link-policy" href="./terms-of-service.html"
          >Terms of Service</a
        >
      </div>
      <p class="footer-text">
        <a class="footer-copyright" href="/">
          &copy; 2026 bluevia.it.com — All rights reserved.
        </a>
      </p>
    </div>
  </section>
</footer>
