<section class="container" id="gallery">
  <div class="gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery-controls">
      <div class="gallery-text-button">
        <button
          class="gallery-button gallery-prev"
          type="button"
          aria-label="Previous"
        >
          <svg class="gallery-arrow" width="80" height="80">
            <use href="{=$icon-left-arrow}"></use>
          </svg>
        </button>

        <p class="gallery-title-text">
          See The Delivery Puzzle World In Action
        </p>

        <button
          class="gallery-button gallery-next"
          type="button"
          aria-label="Next"
        >
          <svg class="gallery-arrow" width="80" height="80">
            <use href="{=$icon-right-arrow}"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="gallery-slider swiper">
      <ul class="gallery-list swiper-wrapper">
        <li class="gallery-item swiper-slide">
          <img class="gallery-img" src="./img/mokker-1-1x.png" alt="game" />
        </li>
        <li class="gallery-item swiper-slide">
          <img class="gallery-img" src="./img/mokker-2-1x.png" alt="game" />
        </li>
        <li class="gallery-item swiper-slide">
          <img class="gallery-img" src="./img/mokker-3-1x.png" alt="game" />
        </li>
        <li class="gallery-item swiper-slide">
          <img class="gallery-img" src="./img/mokker-4-1x.png" alt="game" />
        </li>
        <li class="gallery-item swiper-slide">
          <img class="gallery-img" src="./img/mokker-5-1x.png" alt="game" />
        </li>
      </ul>
    </div>
  </div>
</section>
