<header id="header" class="header">
  <div class="container header-container">
    <div class="header-logo">
      <a class="header-logo-link" href="./index.html" aria-label="Home Page logo">
        <img
          class="header-logo-img"
          src="./img/header-logo-png.png"
          alt="Match Delivery Home"
          width="60"
          height="58"
        />
        <div class="header-logo-div">
          <p class="header-logo-text">Match</p>
          <p class="header-logo-text">Delivery</p>
          <p class="header-logo-3d">Triple Match 3D</p>
        </div>
      </a>

    </div>

    <nav class="header-nav nav" aria-label="Main navigation">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#about">About the Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#how-to-play">How to Play</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#end">Contact</a>
        </li>
      </ul>
    </nav>

    <a
      class="header-gplink btn"
      href="https://play.google.com/store/apps/details?id=com.matchdelivery.triple3d"
      aria-label="Play on Google Play"
    >
      <svg class="header-gpimg" width="18" height="16">
        <use href="{=$icon-google-play}"></use>
      </svg>
      Play on Google Play
    </a>

    <button
      class="burger"
      type="button"
      aria-label="Open menu"
      aria-expanded="false"
      data-action="open"
    >
      <svg class="burger-menu" width="37" height="36" data-visible="open">
        <use href="{=$icon-burger-menu}"></use>
      </svg>

      <span class="burger-close" data-visible="close">x</span>
    </button>
  </div>

    <div class="mobile-menu" data-visible="close">
      <div class="mobile-menu__overlay" data-menu-overlay>
        <div class="container mobile-menu__panel">
          <nav class="mobile-nav nav" aria-label="Main navigation">
            <ul class="mobile-nav-list">
              <li class="mobile-nav-item">
                <a class="mobile-nav-link" href="#about">About the Game</a>
              </li>
              <li class="mobile-nav-item">
                <a class="mobile-nav-link" href="#how-to-play">How to Play</a>
              </li>
              <li class="mobile-nav-item">
                <a class="mobile-nav-link" href="#gallery">Gallery</a>
              </li>
              <li class="mobile-nav-item">
                <a class="mobile-nav-link" href="#faq">FAQ</a>
              </li>
              <li class="mobile-nav-item">
                <a class="mobile-nav-link" href="#end">Contact</a>
              </li>
            </ul>
          </nav>

          <div class="mobile-policy-service">
            <a class="mobile-link-policy" href="./privacy-policy.html"
              >Privacy Policy</a
            >
            <div class="mobile-line"></div>
            <a class="mobile-link-policy" href="./terms-of-service.html"
              >Terms of Service</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
