<div class="hero-container">
  <section class="container" id="hero">
    <div class="hero-start">
      <div class="hero-star">
        <svg class="hero-star-svg" width="24" height="24">
          <use href="{=$icon-star}"></use>
        </svg>
        <p class="hero-star-text">3D MATCHING PUZZLE GAME</p>
      </div>
      <h1 class="hero-title">
        Clear Deliveries<br />
        With Perfect <br />
        <span class="hero-title-span">Matches</span>
      </h1>
      <p class="hero-text">
        Relaxing 3D puzzles where you dig through piles of colorful packages and
        delivery junk.
      </p>
      <a
        class="hero-btn"
        href="https://play.google.com/store/apps/details?id=com.matchdelivery.triple3d"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="hero-svg" width="26" height="30">
          <use href="{=$icon-google-play}"></use>
        </svg>
        <span class="hero-link-text">Play on Google Play</span>
      </a>
    </div>
    <div class="hero-animation">
      <img
        class="hero-phone"
        src="./img/hero-phone-1x.png"
        srcset="./img/hero-phone-1x.png 1x, ./img/hero-phone-2x.png 2x"
        alt="phone"
        width="322"
        loading="lazy"
        decoding="async"
      />

      <img
        class="hero-bear"
        src="./img/hero-bear-1x.png"
        srcset="./img/hero-bear-1x.png 1x, ./img/hero-bear-2x.png 2x"
        alt="bear"
        width="315"
        loading="lazy"
        decoding="async"
      />

      <img
        class="hero-basket"
        src="./img/hero-basket-1x.png"
        srcset="./img/hero-basket-1x.png 1x, ./img/hero-basket-2x.png 2x"
        alt="basket"
        width="99"
        loading="lazy"
        decoding="async"
      />

      <img
        class="hero-basket-bear"
        src="./img/hero-basket-bear-1x.png"
        srcset="
          ./img/hero-basket-bear-1x.png 1x,
          ./img/hero-basket-bear-2x.png 2x
        "
        alt="basket with bear"
        width="174"
        loading="lazy"
        decoding="async"
      />

      <img
        class="hero-box"
        src="./img/hero-box-1x.png"
        srcset="./img/hero-box-1x.png 1x, ./img/hero-box-2x.png 2x"
        alt="box"
        width="118"
        loading="lazy"
        decoding="async"
      />

      <img
        class="hero-duck"
        src="./img/hero-duck-1x.png"
        srcset="./img/hero-duck-1x.png 1x, ./img/hero-duck-2x.png 2x"
        alt="duck"
        width="86"
        loading="lazy"
        decoding="async"
      />

      <img
        class="hero-apple"
        src="./img/hero-apple-1x.png"
        srcset="./img/hero-apple-1x.png 1x, ./img/hero-apple-2x.png 2x"
        alt="apple"
        width="86"
        loading="lazy"
        decoding="async"
      />

      <img
        class="hero-truck"
        src="./img/hero-truck-1x.png"
        srcset="./img/hero-truck-1x.png 1x, ./img/hero-truck-2x.png 2x"
        alt="truck"
        width="254"
        loading="lazy"
        decoding="async"
      />
    </div>
  </section>
</div>
