<div class="hero-container">
  <section class="container" id="hero">
    <div class="hero-start">
      <div class="hero-star">
        <svg class="hero-star-svg" width="24" height="24">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        <p class="hero-star-text">3D MATCHING PUZZLE GAME</p>
      </div>
      <h1 class="hero-title">
        Clear Deliveries<br />
        With Perfect <br />
        <span class="hero-title-span">Matches</span>
      </h1>
      <p class="hero-text">
        Relaxing 3D puzzles where you dig through piles of colorful packages and
        delivery junk.
      </p>
      <a
        class="hero-btn"
        href="https://play.google.com/store/apps/details?id=com.matchdelivery.triple3d"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="hero-svg" width="26" height="30">
          <use href="./img/sprite.svg#icon-google-play"></use>
        </svg>
        <span class="hero-link-text">Play on Google Play</span>
      </a>
    </div>
    <img
      class="hero-animation"
      src="../img/start-animation.png"
      alt="cell phone and toys"
    />
  </section>
</div>
