<div class="how-to-play" id="how-to-play">
  <section class="container" id="play">
    <div class="play">
      <h2 class="play-title">How to Play</h2>
      <p class="play-title-text">
        Organize Delivery Items Through Triple Matching
      </p>
      <ul class="play-list">
        <li class="play-card">
          <img
            class="play-card-img"
            src="./img/play-1-1x.png"
            srcset="./img/play-1-1x.png, ./img/play-1-2x.png"
            alt="three ducks"
            width="147"
            loading="lazy"
            decoding="async"
          />
          <h3 class="play-card-title">Find Matching Objects</h3>
          <p class="play-card-text">
            Search for three identical 3D items across puzzle boards.
          </p>
        </li>
        <li class="play-arrow">
          <svg class="play-card-svg" width="28" height="34">
            <use href="{=$icon-arrow}"></use>
          </svg>
        </li>

        <li class="play-card">
          <img
            class="play-card-img"
            src="./img/play-2-1x.png"
            srcset="./img/play-2-1x.png, ./img/play-2-2x.png"
            alt="Package"
            width="147"
            loading="lazy"
            decoding="async"
          />
          <h3 class="play-card-title">Clear Delivery Spaces</h3>
          <p class="play-card-text">
            Remove all objects to complete level objectives.
          </p>
        </li>
        <li class="play-arrow">
          <svg class="play-card-svg" width="28" height="34">
            <use href="{=$icon-arrow}"></use>
          </svg>
        </li>

        <li class="play-card">
          <img
            class="play-card-img"
            src="./img/play-3-1x.png"
            srcset="./img/play-3-1x.png, ./img/play-3-2x.png"
            alt="magnet"
            width="147"
            loading="lazy"
            decoding="async"
          />
          <h3 class="play-card-title">Use Helpful Boosters</h3>
          <p class="play-card-text">
            Hints and special tools assist during difficult stages.
          </p>
        </li>
        <li class="play-arrow">
          <svg class="play-card-svg" width="28" height="34">
            <use href="{=$icon-arrow}"></use>
          </svg>
        </li>

        <li class="play-card">
          <img
            class="play-card-img"
            src="./img/play-4-1x.png"
            srcset="./img/play-4-1x.png, ./img/play-4-2x.png"
            alt="Bag"
            width="147"
            loading="lazy"
            decoding="async"
          />
          <h3 class="play-card-title">Unlock New Collections</h3>
          <p class="play-card-text">
            Discover fresh object categories and new delivery environments.
          </p>
        </li>
        <li class="play-arrow">
          <svg class="play-card-svg" width="28" height="34">
            <use href="{=$icon-arrow}"></use>
          </svg>
        </li>

          <li class="play-card">
            <img
              class="play-card-img"
              src="./img/play-5-1x.png"
              srcset="./img/play-5-1x.png, ./img/play-5-2x.png"
              alt="times"
              width="147"
              loading="lazy"
              decoding="async"
            />
            <h3 class="play-card-title">Improve Matching Speed</h3>
            <p class="play-card-text">
              The faster you spot matches, the easier it becomes to clear
              levels.
            </p>
          </li>
        </li>
      </ul>
    </div>
  </section>
</div>
