:root {
  --font-family: "Wendy", sans-serif;
  --second-family: "Fredoka", sans-serif;
  --text-black: #000;
	--lite-background: #f8fafc;
	--lite-header: #fff;
	--lite-border: #e5e7eb;
	--text-text: #4134b2;
	--text-text-primary: #111827;
	--text-text-secondary: #6b7280;
	--cta-pimary: #6d5dfc;
	--cta-hover: #5e4cff;
	--cta-tap: #4833ff;
	--other-icon-star: #ffcd04;
}

body {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--text-black);
  background-color: var(--lite-background);
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
}

button,
input,
textarea {
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

button {
    border: none;
    background: none;
}

body.no-scroll {
  overflow: hidden;
}

body.is-locked {
    overflow: hidden;
}

[data-visible='open'] {
  display: flex;
}

[data-visible='close'] {
  display: none;
}