.end-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 19px 0 rgba(0, 0, 0, 0.35);
  background: #6d5dfc;
}
.end-basket {
  display: none;
}
.end-ready {
  display: flex;
  justify-content: center;
  align-items: center;
}
.end-div-text {
  display: flex;
  flex-direction: column;
}

.end-ready-text {
  font-weight: 400;
  font-size: 18px;
  color: #f8fafc;
}
.end-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 202px;
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  background: #e5e7eb;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  margin-bottom: 8px;
}
.end-btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.end-address {
  display: flex;
  gap: 2px;
}
.end-address-svg {
  stroke: #f8fafc;
  fill: transparent;
}
.end-link-text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #111827;
  transition: color 0.3s ease;
}
.end-link-email {
  font-weight: 400;
  font-size: 14px;
  color: #f8fafc;
}

.end-logo-desktop {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .end-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 32px;
  }
  .end-basket {
    display: block;
  }
  .end-logo-img {
    display: none;
  }

  .end-ready-text {
    font-size: 32px;
  }
  .end-logo-desktop {
    display: flex;
  }
  .end-btn:hover {
    background: #f8fafc;
  }

  .end-btn:hover .end-link-text {
    color: #000;
  }

  .end-btn:focus,
  .end-btn:focus-visible {
    background: #4833ff;
    outline: none;
  }

  .end-btn:focus .end-link-text,
  .end-btn:focus-visible .end-link-text {
    color: #e5e7eb;
  }
}
