.end-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 19px 0 rgba(0, 0, 0, 0.35);
  background: #6d5dfc;
}
.end-basket {
  display: none;
}
.end-ready {
  display: flex;
  justify-content: center;
  align-items: center;
}
.end-div-text {
  display: flex;
  flex-direction: column;
}

.end-ready-text {
  font-family: 'Wendy', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #f8fafc;
}
.end-btn {
  text-decoration: none;
  color: inherit;
  border-radius: 8px;
  padding: 10px 0;
  min-width: 202px;
  background-color: #e5e7eb;
  margin-bottom: 8px;
}
.end-btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.end-address {
  display: flex;
  gap: 2px;
}
.end-address-svg {
  stroke: #f8fafc;
  fill: transparent;
}
.end-link-text {
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #111827;
}
.end-link-email {
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #f8fafc;
}

.end-logo-desktop {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .end-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 32px;
  }
  .end-basket {
    display: block;
  }
  .end-logo-img {
    display: none;
  }

  .end-ready-text {
    font-family: 'Fredoka', sans-serif;
    font-size: 32px;
  }
  .end-logo-desktop {
    display: flex;
  }
}
