.end-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  border-radius: 20px;
  box-shadow: 10px 10px 19px 0 rgba(0, 0, 0, 0.35);
  background: #6d5dfc;
}
.end-basket {
  display: none;
}
.end-ready {
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  color: #f8fafc;
  margin: 0;
}
.end-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 202px;
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  background-color: #e5e7eb;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 250ms ease,
    color 250ms ease,
    transform 250ms ease;
  margin-bottom: 8px;
}

.end-svg {
  flex-shrink: 0;
}
.end-link-text {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #111827;
  transition: color 250ms ease;
}

.end-address {
  display: flex;
  align-items: center;
  gap: 10px;
}
.end-address-svg {
  stroke: #f8fafc;
  fill: transparent;
}

.end-link-email {
  font-weight: 600;
  font-size: 14px;
  color: #f8fafc;
  font-style: normal;
  white-space: nowrap;
}

.end-logo-desktop {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .end-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 32px;
  }
  .end-basket {
    display: block;
  }
  .end-logo-img {
    display: none;
  }

  .end-title {
    font-size: 32px;
  }
  .end-logo-desktop {
    display: flex;
  }
  .end-btn:hover {
    background-color: #f8fafc;
    transform: translateY(-2px);
  }

  .end-btn:hover .end-link-text {
    color: #000;
  }

  .end-btn:focus,
  .end-btn:focus-visible {
    background-color: #4833ff;
    outline: none;
  }

  .end-btn:focus .end-link-text,
  .end-btn:focus-visible .end-link-text {
    color: #e5e7eb;
  }
}
