.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.faq-title-main {
  font-family: var(--second-family);
  font-size: 26px;
  color: var(--text-text);
}
.faq-questions-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq-title-text {
  font-family: var(--second-family);
  font-size: 18px;
  color: var(--text-text-primary);
  margin-bottom: 10px;
}
.faq-content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.faq-item {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
  background: var(--lite-header);
  transition: fill 250ms ease;
}
.faq-question {
  display: flex;
  padding: 0px 12px;
  width: 343px;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  fill: var(--text-text);
  position: relative;
}
.faq-question-icon-to-open,
.faq-question-icon-to-close {
  transition: opacity 250ms ease;
}
.faq-question-icon-to-close {
  opacity: 0;
  position: absolute;
  right: 12px;
}
.faq-question-icon-to-open[data-visible="open"],
.faq-question-icon-to-close[data-visible="open"] {
  opacity: 1;
}
.faq-question-icon-to-open[data-visible="close"],
.faq-question-icon-to-close[data-visible="close"] {
  opacity: 0;
}
.faq-question-text {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: var(--text-text-primary);
}
.faq-answear {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  opacity: 0;
  width: 343px;
  padding: 0 12px;
  transition: grid-template-rows 250ms ease, opacity 250ms ease, padding 250ms ease;
}
.faq-answear-text {
  min-height: 0;
  max-width: 319px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: var(--text-text-secondary);
}
.faq-answear[data-visible="open"] {
  grid-template-rows: 1fr;
  opacity: 1;
  padding: 12px;
}
.faq-pic {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .faq-content {
    justify-content: space-between;
  }
  .faq-question {
    width: 552px;
    height: 48px;
  }
  .faq-title-text {
    font-size: 20px;
  }
  .faq-question-text {
    font-size: 20px;
  }
  .faq-item:hover .faq-question-icon-to-open,
  .faq-item:hover .faq-question-icon-to-close{
    fill: var(--cta-hover);
  }
  .faq-answear {
    width: 552px;
  }
  .faq-answear-text {
    font-family: var(--second-family);
    font-weight: 400;
    max-width: 528px;
    font-size: 18px;
  }
  .faq-pic {
    display: block;
    transition: transform 250ms ease;
  }
  .faq-content:hover .faq-pic {
    transform: scale(1.1) translateX(8px) translateY(8px);
  }
}
