.footer {
  background-color: #e5e7eb;
  padding: 10px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  margin: 0 auto;
}

.footer-logo {
  display: none;
  text-decoration: none;
}
.footer-logo-img {
  border-radius: 15px;
}
.footer-logo-div {
  display: flex;
  flex-direction: column;
}

.footer-logo-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 0.9;
  color: #111827;
  transition:
    color 250ms ease,
    transform 250ms ease;
}
.footer-logo-3d {
  font-family: var(--font-family);
  font-weight: 700;
  border-radius: 4px;
  background-color: #5e4cff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #e5e7eb;
  padding: 3px 0;
}

.footer-policy-service {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 9px;
}

.footer-link-policy {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  transition:
    color 250ms ease,
    transform 250ms ease;
}

.footer-line {
  width: 1px;
  height: 16px;
  background-color: #4134b2;
}

.footer-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    max-width: 1440px;
    padding: 11.5px 156px;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-logo {
    display: flex;
    gap: 18px;
  }
  .footer-logo:hover .footer-logo-text {
    color: #5e4cff;
    transform: scale(1.03);
  }
  .footer-logo:focus .footer-logo-text,
  .footer-logo:focus-visible .footer-logo-text {
    color: #4833ff;
  }
  .footer-logo:focus-visible {
    outline: none;
  }
  .footer-link-policy:hover {
    color: #5e4cff;
    transform: scale(1.03);
  }

  .footer-link-policy:focus-visible {
    outline: 2px solid #5e4cff;
    outline-offset: 2px;
  }
}
