.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.gallery-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 26px;
  color: var(--text-text);
}
.gallery-title-text {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: var(--text-text-primary);
}
.gallery-text-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.gallery-button {
  display: none;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.gallery-arrow {
  fill: var(--cta-pimary);
  transition:
    fill 250ms ease,
    transform 250ms ease;
}
.gallery-slider {
  width: 100%;
  overflow: hidden;
}

.gallery-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery-item {
  display: flex;
  justify-content: center;
}

.gallery-img {
  width: 100%;
  max-width: 250px;
  margin: auto;
}

@media only screen and (min-width: 1440px) {
  .gallery-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gallery-text-button {
    display: flex;
    align-items: center;
    gap: 230px;
  }
  .gallery-img {
    max-width: 277px;
  }
  .gallery-next:hover .gallery-arrow {
    fill: var(--cta-hover);
    transform: translateX(6px);
  }
  .gallery-prev:hover .gallery-arrow {
    fill: var(--cta-hover);
    transform: translateX(-6px);
  }
  .gallery-button:focus-visible .gallery-arrow {
    fill: var(--cta-tap);
  }

  .gallery-button:focus-visible {
    outline: none;
  }
}
