.how-to-play {
  background-color: #e5e7eb;
}
.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.play-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 26px;
  color: #4134b2;
}

.play-title-text {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #111827;
  max-width: 343px;
}
.play-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.play-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.play-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  width: 343px;
  height: 177px;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.35);
  background: #f8fafc;
}
.play-card-img {
  margin-bottom: 10px;
}
.play-card-title {
  font-family: 'Wendy One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #111827;
  margin-bottom: 6px;
}
.play-card-text {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #6b7280;
}
.play-card-svg {
  fill: #4134b2;
}
@media only screen and (min-width: 1440px) {
  .play-title {
    font-size: 20px;
  }
  .play-title-text {
    max-width: 100%;
  }
  .play-list {
    flex-direction: row;
    gap: 19px;
  }
  .play-arrow {
    transform: rotate(-90deg);
  }
  .play-card {
    width: 168px;
    height: 220px;
  }
  .play-card-text {
    font-size: 12px;
  }
}
